header {
    background: url('../img/header-bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    height: 1000%;
    width: 100%;
    color: #fefefe;
    position: relative;
    .menu {
        width: 100%;
        height: 65px;
        position: fixed;
        z-index: 999;
        @import "includes/menu";
    }
    .dot {
        background-color: #a8969a;
        width: 7px;
        height: 7px;
        @include border-radius(100%);
        display: inline-block;
        margin: 50px 3px;
        cursor: pointer;
        &.hover,
        &.active {
            background: #fff;
        }
    }
}
@import "includes/menu";